<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Framework\Mail\TransportInterface" type="MSP\SMTP\Mail\Transport" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="msp_smtp_selftest" xsi:type="object">MSP\SMTP\Console\SelftestCommand</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MSP\SMTP\Log\Logger" type="\Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">MSP::SMTP</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">MSP\SMTP\Log\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="MSP\SMTP\Mail\Transport">
        <arguments>
            <argument name="logger" xsi:type="object">MSP\SMTP\Log\Logger</argument>
        </arguments>
    </type>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="system/msp_smtp/password" xsi:type="string">1</item>
                <item name="system/msp_smtp/username" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="system/msp_smtp/host" xsi:type="string">1</item>
                <item name="system/msp_smtp/port" xsi:type="string">1</item>
                <item name="system/msp_smtp/auth" xsi:type="string">1</item>
                <item name="system/msp_smtp/ssl" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

</config>
